# Pandas - Notas de Estudo

## O que é Pandas?
<table style="border: none;">
<tr>
<td width="246" style="border: none;">

<img src="https://pandas.pydata.org/static/img/pandas_white.svg" width="246">

</td>
<td style="border: none;">

Pandas é uma biblioteca Python que fornece estruturas de dados rápidas, flexíveis e expressivas, projetadas para tornar o trabalho com dados "relacionais" ou "rotulados" fácil e intuitivo. Ela visa ser o bloco de construção fundamental de alto nível para análise de dados prática e do mundo real em Python.

Pandas é construído sobre o NumPy e se integra bem com outras bibliotecas científicas de terceiros.

</td>
</tr>
</table>

## Instalação

<table style="border: none;">
<tr>
<td width="50%" style="border: none;">

**Com pip:**

```bash
pip install pandas
```

</td>
<td width="50%" style="border: none;">

**Com conda:**

```bash
conda install pandas
```

</td>
</tr>
</table>

## Importação

Para usar o Pandas em seu código Python, importe-o convencionalmente como `pd`:

```python
import pandas as pd
```

Adicionalmente, também importaremos o NumPy, já que o Pandas é construído sobre ele e frequentemente precisamos de suas funcionalidades para operações numéricas avançadas.

In [1]:
# %pip install pandas

import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.3.3
2.3.4

## Estruturas de Dados Principais

Vamos estudar as estruturas de dados do Pandas, começando por Series.

### 1. Series (1D)

Array unidimensional rotulado e homogêneo - similar a uma coluna em uma planilha ou um vetor com índices.

**Características:**
- Pode conter qualquer tipo de dado (inteiros, strings, floats, objetos Python, etc.)
- Possui um índice que rotula cada elemento
- Suporta operações vetorizadas

---

#### Criando Series

Existem várias maneiras de criar uma Series no Pandas. Vamos explorar cada uma delas:

##### Método 1: A partir de uma lista Python

A forma mais básica é passar uma lista de valores. Podemos também definir rótulos personalizados para o índice:

In [2]:
# Criando uma Series a partir de uma lista com índice personalizado
serie = pd.Series([0.5, -1.2, 2.3, 1.8], index=['a', 'b', 'c', 'd'])
print("Series criada:")
print(serie)
print("\nTipo do objeto:", type(serie))

Series criada:
a    0.5
b   -1.2
c    2.3
d    1.8
dtype: float64

Tipo do objeto: <class 'pandas.core.series.Series'>

##### Método 2: A partir de arrays NumPy

Como Pandas é construído sobre NumPy, podemos criar Series diretamente a partir de arrays NumPy. Esta é uma prática comum quando trabalhamos com dados numéricos:

In [3]:
# Primeiro, criamos um array NumPy
np_array_int = np.array([10, 20, 30, 40, 50])
print("Array NumPy:", np_array_int)
print("Tipo:", type(np_array_int))

Array NumPy: [10 20 30 40 50]
Tipo: <class 'numpy.ndarray'>

In [4]:
# Agora convertemos o array NumPy em uma Series
serie_int = pd.Series(np_array_int)
print("Series criada a partir do array NumPy:")
print(serie_int)

Series criada a partir do array NumPy:
0    10
1    20
2    30
3    40
4    50
dtype: int64

##### Método 3: A partir de dicionários Python

Uma das formas mais práticas! As **chaves** do dicionário se tornam o **índice**, e os **valores** se tornam os **dados**:

In [5]:
# Criando um dicionário
pessoas = {
    'João': 10,
    'Maria': 5,
    'Gustavo': 6,
    'Pedro': 9
}

# Convertendo para Series
serie_pessoas = pd.Series(pessoas)
print("Series criada a partir do dicionário:")
print(serie_pessoas)

Series criada a partir do dicionário:
João       10
Maria       5
Gustavo     6
Pedro       9
dtype: int64

**Observação sobre índices:**

Quando criamos uma Series a partir de um dicionário, as **chaves** se tornam o **índice** e os **valores** se tornam os **dados**. 

Note que, neste caso, o índice não é numérico (0, 1, 2, 3...), mas sim **strings** ('João', 'Maria', 'Gustavo', 'Pedro'). Isso demonstra a flexibilidade do Pandas em trabalhar com diferentes tipos de índices!

##### Método 4: Especificando dados e índices separadamente

Podemos ter controle total criando arrays separados para dados e índices:

In [6]:
# Gerando dados aleatórios com NumPy
valores = np.random.random(10)  # 10 valores aleatórios entre 0 e 1
indices = np.arange(0, 10)       # índices de 0 a 9

# Criando a Series
serie_random = pd.Series(data=valores, index=indices)
print("Series com valores aleatórios:")
print(serie_random)

Series com valores aleatórios:
0    0.171273
1    0.714389
2    0.629817
3    0.184759
4    0.577991
5    0.663014
6    0.683712
7    0.212596
8    0.953972
9    0.759978
dtype: float64

---

#### Explorando Propriedades de uma Series

Agora que sabemos criar Series, vamos aprender a inspecionar suas características:

##### 1. Atributos de dimensão e tamanho

In [7]:
# Vamos usar serie_int para explorar as propriedades
print("Series que vamos explorar:")
print(serie_int)
print("\n" + "="*50)

# shape: dimensões da Series
print("\n1. SHAPE - Dimensões:")
print(f"   serie_int.shape = {serie_int.shape}")
print(f"   → A Series tem {serie_int.shape[0]} elementos")
print("   → Note que shape retorna apenas (5,) e não (5, 1)")
print("   → Isso porque Series são UNIDIMENSIONAIS - não há uma segunda dimensão!")

# ndim: número de dimensões (sempre 1 para Series)
print("\n2. NDIM - Número de dimensões:")
print(f"   serie_int.ndim = {serie_int.ndim}")
print("   → Series são sempre unidimensionais")

# size: número total de elementos
print("\n3. SIZE - Tamanho total:")
print(f"   serie_int.size = {serie_int.size}")
print(f"   → Total de {serie_int.size} elementos")

Series que vamos explorar:
0    10
1    20
2    30
3    40
4    50
dtype: int64

==================================================

1. SHAPE - Dimensões:
   serie_int.shape = (5,)
   → A Series tem 5 elementos
   → Note que shape retorna apenas (5,) e não (5, 1)
   → Isso porque Series são UNIDIMENSIONAIS - não há uma segunda dimensão!

2. NDIM - Número de dimensões:
   serie_int.ndim = 1
   → Series são sempre unidimensionais

3. SIZE - Tamanho total:
   serie_int.size = 5
   → Total de 5 elementos

##### 2. Tipo de dados (dtype)

Cada Series armazena dados de um único tipo. Pandas infere automaticamente o tipo:

In [8]:
# Verificando o tipo de dados de diferentes Series
print("Tipos de dados (dtype):")
print(f"  serie_int.dtype = {serie_int.dtype}")
print(f"  serie_pessoas.dtype = {serie_pessoas.dtype}")
print(f"  serie_random.dtype = {serie_random.dtype}")
print(f"  serie.dtype = {serie.dtype}")

Tipos de dados (dtype):
  serie_int.dtype = int64
  serie_pessoas.dtype = int64
  serie_random.dtype = float64
  serie.dtype = float64

##### 3. Trabalhando com índices

O índice é uma parte fundamental das Series. Vamos aprender a acessá-lo e modificá-lo:

In [9]:
# Acessando o índice
print("Índice da serie_int:")
print(serie_int.index)
print(f"\nTipo do índice: {type(serie_int.index)}")

# Modificando o índice
print("\n" + "="*50)
print("MODIFICANDO O ÍNDICE:")
print("Serie original:")
print(serie_int)

serie_int.index = ['i', 'j', 'k', 'l', 'm']

print("\nSerie com novo índice:")
print(serie_int)

Índice da serie_int:
RangeIndex(start=0, stop=5, step=1)

Tipo do índice: <class 'pandas.core.indexes.range.RangeIndex'>

==================================================
MODIFICANDO O ÍNDICE:
Serie original:
0    10
1    20
2    30
3    40
4    50
dtype: int64

Serie com novo índice:
i    10
j    20
k    30
l    40
m    50
dtype: int64

---

#### Fatiamento (Slicing)

O fatiamento (ou slicing) é uma técnica poderosa que permite selecionar **múltiplos elementos consecutivos** de uma Series usando intervalos. É similar ao fatiamento de listas Python, mas com recursos adicionais do Pandas.

**Sintaxe básica:** `serie[início:fim]`
- **início**: índice inicial (inclusivo) - onde começar
- **fim**: índice final (exclusivo) - onde parar (não inclui este elemento)

**Por que o fatiamento é útil?**
- Analisar subconjuntos específicos dos dados
- Criar amostras para testes
- Dividir dados em treino e validação
- Remover ou selecionar partes dos dados

**Importante:** O fatiamento funciona com índices numéricos. Para índices personalizados (strings, datas), use `.iloc[]` para fatiamento por posição.

Vamos usar `serie_random` para demonstrar os diferentes tipos de fatiamento:

##### 1. Selecionando todos os elementos

O operador `[:]` sem especificar início nem fim retorna **todos os elementos** da Series.

**Quando usar:** Útil para criar cópias superficiais ou confirmar o conteúdo completo:

In [10]:
serie_random[:]

0    0.171273
1    0.714389
2    0.629817
3    0.184759
4    0.577991
5    0.663014
6    0.683712
7    0.212596
8    0.953972
9    0.759978
dtype: float64

**Resultado:** Retorna todos os 10 elementos da Series.

##### 2. Fatiamento com início e fim especificados

Use `[início:fim]` para selecionar um **intervalo específico** de elementos.

**Regra importante:** O índice inicial é **inclusivo** (incluído no resultado), mas o índice final é **exclusivo** (não incluído).

**Exemplo:** `[0:3]` significa "do índice 0 até o 3, sem incluir o 3", ou seja, elementos nas posições 0, 1 e 2:

In [11]:
serie_random[0:3]

0    0.171273
1    0.714389
2    0.629817
dtype: float64

##### 3. Fatiamento omitindo o início

Quando omitimos o índice inicial usando `[:fim]`, o fatiamento automaticamente **começa do primeiro elemento** (posição 0).

**Uso prático:** Selecionar os primeiros N elementos para análise exploratória ou visualização rápida:

In [12]:
serie_random[:4]

0    0.171273
1    0.714389
2    0.629817
3    0.184759
dtype: float64

##### 4. Índices negativos - acessando elementos do final

Índices negativos são uma forma elegante de acessar elementos **contando de trás para frente**:
- `-1` representa o **último** elemento
- `-2` representa o **penúltimo** elemento
- E assim por diante...

**Quando usar:** Quando você precisa dos últimos elementos sem saber o tamanho exato da Series:

In [13]:
serie_random[-1:]

9    0.759978
dtype: float64

##### 5. Excluindo elementos do final

Use `[:-N]` para selecionar todos os elementos **exceto os últimos N**.

**Uso comum:** Remover outliers ou elementos problemáticos no final dos dados:

In [14]:
serie_random[:-1]

0    0.171273
1    0.714389
2    0.629817
3    0.184759
4    0.577991
5    0.663014
6    0.683712
7    0.212596
8    0.953972
dtype: float64

##### 6. Armazenando fatias em variáveis

O resultado de qualquer fatiamento é uma **nova Series** que pode ser armazenada em uma variável para uso posterior.

**Importante:** Por padrão, o fatiamento cria uma **view** (visualização), não uma cópia. Para garantir independência, use `.copy()`:

In [15]:
s2 = serie_random[:3]
s2

0    0.171273
1    0.714389
2    0.629817
dtype: float64

---

### Operações Básicas com Series

Depois de aprender a criar, acessar e fatiar Series, é hora de dominar três operações essenciais que você usará diariamente na análise de dados:

| Operação | Método | Problema que Resolve |
|----------|--------|----------------------|
| **Copiar** | `.copy()` | Criar duplicata independente para não alterar dados originais |
| **Converter** | `.astype()` | Ajustar tipos de dados (ex: float → int, int → string) |
| **Concatenar** | `pd.concat()` | Juntar múltiplas Series em uma única estrutura |

Cada uma dessas operações tem casos de uso específicos e comportamentos importantes que precisamos entender.

---

#### 1. Copiando Series (`.copy()`)

**O Problema:** Em Python, quando fazemos `nova = original`, criamos apenas uma **referência**, não uma cópia. Isso significa que alterar `nova` também altera `original`!

**A Solução:** Use `.copy()` para criar uma **cópia independente**.

**Diferenças importantes:**
- **Atribuição simples** (`nova = original`): Ambas apontam para o mesmo objeto na memória
- **Cópia** (`nova = original.copy()`): Cria um novo objeto independente

**Quando usar:** Sempre que precisar experimentar com os dados sem risco de perder o original.

Vamos demonstrar criando uma cópia da `serie_random`:

In [16]:
serie_dados = serie_random.copy()
print(serie_dados)

0    0.171273
1    0.714389
2    0.629817
3    0.184759
4    0.577991
5    0.663014
6    0.683712
7    0.212596
8    0.953972
9    0.759978
dtype: float64

Perfeito! Agora `serie_dados` é uma cópia **independente** de `serie_random`. Qualquer modificação em uma não afetará a outra.

---

#### 2. Conversão de Tipos (`.astype()`)

**O Problema:** Às vezes os dados vêm no tipo errado (números como strings, floats quando queremos inteiros, etc.).

**A Solução:** Use `.astype(tipo)` para converter para o tipo desejado.

**Tipos comuns em Pandas:**
- `int` ou `'int64'`: Números inteiros
- `float` ou `'float64'`: Números decimais
- `str` ou `'object'`: Texto/strings
- `bool`: Valores booleanos (True/False)
- `'category'`: Categorias (economiza memória)

**Atenção:** Conversões podem **perder informação**! Por exemplo, float → int descarta a parte decimal.

Vamos converter nossa Series de `float64` para `int`:

In [17]:
serie_dados.dtype

dtype('float64')

In [18]:
serie_dados = serie_dados.astype(int)
serie_dados

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
dtype: int64

**Observação crítica:** Ao converter de `float` para `int`, os valores decimais são **truncados** (cortados), não arredondados!

- `0.9 → 0` (não vira 1)
- `2.7 → 2` (não vira 3)

Se precisar arredondar antes, use `serie.round().astype(int)`.

---

#### 3. Concatenação de Series (`pd.concat()`)

**O Problema:** Você tem dados espalhados em múltiplas Series e precisa juntá-los em uma única estrutura.

**A Solução:** Use `pd.concat([serie1, serie2, ...])` para combinar Series.

**Casos de uso reais:**
- Juntar dados de diferentes fontes (arquivos, APIs, bancos de dados)
- Adicionar novos registros coletados
- Combinar resultados de diferentes análises ou filtros

**Comportamento importante:** Por padrão, `pd.concat()` **preserva os índices originais**, o que pode criar índices duplicados.

Vamos criar uma nova Series e concatená-la com `serie_pessoas`:

In [66]:
novas_pessoas = {'Aline': 20, 'Carlos': 30}
serie_novas_pessoas = pd.Series(novas_pessoas)
serie_novas_pessoas

Aline     20
Carlos    30
dtype: int64

Agora vamos relembrar nossa Series original e então concatená-las:

In [67]:
print("Series original:")
print(serie_pessoas)
print("\nSeries nova:")
print(serie_novas_pessoas)

Series original:
João       10
Maria       5
Gustavo     6
Pedro       9
dtype: int64

Series nova:
Aline     20
Carlos    30
dtype: int64

Agora vamos concatenar as duas Series usando `pd.concat()`:

**Sintaxe:** `pd.concat([serie1, serie2, ...])`

In [68]:
serie_pessoas_concat = pd.concat([serie_pessoas, serie_novas_pessoas])
serie_pessoas_concat

João       10
Maria       5
Gustavo     6
Pedro       9
Aline      20
Carlos     30
dtype: int64

**Observações importantes sobre concatenação:**

1. **Índices preservados:** Os índices originais são mantidos (note os índices: João, Maria, Gustavo, Pedro, Aline, Carlos)
2. **Para resetar índices:** Use `pd.concat([serie1, serie2]).reset_index(drop=True)`
3. **Alternativa rápida:** Use `ignore_index=True`: `pd.concat([serie1, serie2], ignore_index=True)`

**Exemplo com reset de índice:**
```python
# Concatena e cria novos índices sequenciais
serie_concat_reset = pd.concat([serie_pessoas, serie_novas_pessoas], ignore_index=True)
```

---

**Resumo - Operações Básicas:**

| Operação | Método | Quando Usar | Cuidado |
|----------|--------|-------------|---------|
| **Copiar** | `.copy()` | Antes de modificar dados | Atribuição simples cria referência |
| **Converter** | `.astype(tipo)` | Ajustar tipos de dados | float → int trunca (não arredonda) |
| **Concatenar** | `pd.concat([s1, s2])` | Juntar múltiplas Series | Índices podem duplicar |

**Próximo passo:** Agora que dominamos operações básicas, vamos trabalhar com dados reais extraídos de DataFrames!

---

## Trabalhando com Dados Reais: Series e DataFrames

### Por que mudar de abordagem agora?

Até aqui, criamos Series **manualmente** - digitando listas, dicionários e arrays pequenos. Isso foi ótimo para aprender os conceitos! Mas no mundo real da análise de dados, você raramente criará Series manualmente.

**Na prática, você irá:**
1. Carregar dados de arquivos (CSV, Excel, JSON, etc.)
2. Esses dados virão em formato de **DataFrame** (tabela)
3. Você extrairá **colunas específicas** como Series para análise

**Por que isso importa?**
- Series maiores (milhares ou milhões de linhas)
- Dados reais exigem técnicas mais avançadas de acesso
- Precisamos aprender `.iloc` e `.loc` para navegar eficientemente

### O que é um DataFrame? (Introdução Rápida)

Pense em um DataFrame como uma **planilha do Excel** ou uma **tabela de banco de dados**:
- Tem **linhas** (registros/observações)
- Tem **colunas** (variáveis/atributos)
- Cada **coluna é uma Series**!

```
DataFrame:           Series (coluna 'age'):
+---------+-----+    
| name    | age |    39
| José    | 39  |    50
| Maria   | 50  |    38
| Carlos  | 38  |    ...
+---------+-----+
```

**Objetivo desta seção:**
- Carregar um dataset real (censo)
- Extrair uma coluna como Series
- Aplicar técnicas avançadas de acesso (`.iloc`, `.loc`)
- Trabalhar com dados realistas

Vamos começar!

---

### Carregando um Dataset Real

Vamos usar `pd.read_csv()` para carregar o arquivo `census.csv`, que contém **dados demográficos reais** de um censo populacional:

In [22]:
dataset = pd.read_csv('./../../data/input/csv/census.csv')
dataset

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

Verificando o tipo do objeto retornado:

In [23]:
type(dataset)

pandas.core.frame.DataFrame

Perfeito! Temos um DataFrame com **32.561 linhas** e **15 colunas**. Cada linha representa uma pessoa do censo.

---

### Extraindo uma Series de um DataFrame

Para extrair uma coluna específica (que automaticamente vira uma Series), usamos a notação de colchetes:

**Sintaxe:** `dataframe['nome_da_coluna']`

Vamos extrair a coluna `'age'` (idade) para trabalhar com ela como Series:

In [24]:
serie_idade = dataset['age']
serie_idade

0        39
1        50
2        38
3        53
4        28
         ..
32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, Length: 32561, dtype: int64

Confirmando que o resultado é uma Series:

In [25]:
type(serie_idade)

pandas.core.series.Series

**Confirmação importante:** Extrair uma coluna de um DataFrame sempre retorna uma Series! Internamente, os valores são armazenados como arrays NumPy (para performance):

In [26]:
dataset['age'].values, type(dataset['age'].values)

(array([39, 50, 38, ..., 58, 22, 52], shape=(32561,)), numpy.ndarray)

---

### Visualizando Series Grandes com `.head()` e `.tail()`

**O Desafio:** Nossa `serie_idade` tem **32.561 elementos**! Mostrar todos seria impratic e poluiria o notebook.

**A Solução:** Use `.head()` e `.tail()` para "espiar" o início e o final dos dados.

**Por que isso é importante?**
- Verificar se os dados foram carregados corretamente
- Entender a estrutura sem sobrecarregar a visualização
- Fazer análise exploratória inicial rápida

#### Método `.head()` - Primeiros elementos

Por padrão, mostra os **5 primeiros** elementos (perfeito para uma visualização rápida):

In [27]:
serie_idade.head()

0    39
1    50
2    38
3    53
4    28
Name: age, dtype: int64

**Personalizando:** Podemos passar um número como argumento para ver mais (ou menos) elementos:

In [28]:
serie_idade.head(10)

0    39
1    50
2    38
3    53
4    28
5    37
6    49
7    52
8    31
9    42
Name: age, dtype: int64

#### Método `.tail()` - Últimos elementos

De forma similar, `.tail()` mostra os **5 últimos** elementos por padrão.

**Quando usar:** Verificar se todos os dados foram carregados ou se há problemas no final do arquivo:

In [29]:
serie_idade.tail()

32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, dtype: int64

Também podemos personalizar a quantidade:

In [30]:
serie_idade.tail(10)

32551    32
32552    43
32553    32
32554    53
32555    22
32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, dtype: int64

---

## Métodos Avançados de Acesso a Elementos

Agora que temos uma Series real com mais de 32 mil elementos, precisamos de técnicas mais poderosas para acessar dados específicos. O Pandas oferece dois métodos principais:

| Método | Tipo de Acesso | Quando Usar |
|--------|----------------|-------------|
| **`.iloc`** | Por **posição** numérica (0, 1, 2...) | Quando você sabe a posição do elemento |
| **`.loc`** | Por **rótulo/índice** (nomes, datas...) | Quando o índice tem significado |

**Analogia útil:**
- `.iloc` é como "me dê o elemento na casa 5" (posição)
- `.loc` é como "me dê o elemento chamado 'João'" (rótulo)

Vamos dominar cada um deles!

---

### Método 1: Acesso por Posição com `.iloc`

O **`.iloc`** (integer location) permite acessar elementos usando **posições numéricas**, como se a Series fosse uma lista Python.

**Características importantes:**
- Sempre usa índices numéricos: 0, 1, 2, 3, ...
- Funciona independente do índice real da Series
- Perfeito quando você sabe "quero o 10º elemento" ou "quero os últimos 100"

**Sintaxe básica:**
```python
serie.iloc[posição]        # Um elemento
serie.iloc[início:fim]     # Fatiamento
serie.iloc[[pos1, pos2]]   # Posições específicas
```

Vamos explorar cada caso com exemplos práticos!

---

#### Caso 1: Acessando Elementos Individuais

##### Exemplo 1.1: Primeiro elemento

O primeiro elemento está sempre na posição 0 (como em listas Python):

In [31]:
serie_idade.iloc[0]

np.int64(39)

**Resultado:** Primeira pessoa do censo tem 39 anos.

##### Exemplo 1.2: Elemento em posição específica

Podemos acessar qualquer posição válida (de 0 até tamanho-1):

In [32]:
serie_idade.iloc[32551]

np.int64(32)

##### Exemplo 1.3: Último elemento com índice negativo

Índices negativos são uma feature poderosa! Eles contam **de trás para frente**:
- `-1` = último elemento
- `-2` = penúltimo
- `-3` = antepenúltimo

**Por que usar:** Você não precisa saber o tamanho exato da Series!

In [33]:
serie_idade.iloc[-1]

np.int64(52)

---

#### Caso 2: Selecionando Múltiplos Elementos

##### Exemplo 2.1: Fatiamento (slice)

Use `[início:fim]` para selecionar um **intervalo consecutivo** de elementos.

**Lembre-se:** início é inclusivo, fim é exclusivo!

In [34]:
serie_idade.iloc[0:3]

0    39
1    50
2    38
Name: age, dtype: int64

**Resultado:** Posições 0, 1 e 2 (o índice 3 não é incluído!).

##### Exemplo 2.2: Seleção de posições não consecutivas

Para selecionar elementos em **posições específicas** que não são consecutivas, passe uma **lista de índices**:

**Uso prático:** Selecionar amostras específicas para comparação.

In [35]:
serie_idade.iloc[[0, 2, 4]]

0    39
2    38
4    28
Name: age, dtype: int64

**Resultado:** Apenas as posições 0, 2 e 4 (pulou 1 e 3).

---

#### Caso 3: Seleção Condicional Avançada

Este é um caso de uso **avançado** que combina `.iloc` com lógica de programação.

**Cenário:** Você quer encontrar todas as posições onde uma condição é verdadeira (ex: idade > 50) e depois usar `.iloc` para selecioná-las.

**Processo:**
1. Iterar pela Series identificando posições que atendem a condição
2. Armazenar essas posições em uma lista
3. Usar `.iloc[[lista]]` para selecionar todos de uma vez

**Exemplo prático:** Encontrar todas as pessoas com mais de 50 anos.

**Passo 1:** Criar lista de posições que atendem a condição:

In [36]:
lista_idade = []
for i in serie_idade.items():
    if i[1] > 50:
        lista_idade.append(i[0])

**Passo 2:** Verificar as primeiras posições encontradas:

In [37]:
print(lista_idade[:10])  # Mostrando apenas os 10 primeiros

[3, 7, 21, 24, 25, 27, 41, 45, 46, 67]

Ótimo! Encontramos as posições. Agora o **Passo 3:** Usar `.iloc` para selecionar todos esses elementos:

In [38]:
serie_idade.iloc[lista_idade]

3        53
7        52
21       54
24       59
25       56
         ..
32542    72
32548    65
32554    53
32558    58
32560    52
Name: age, Length: 6460, dtype: int64

Perfeito! Conseguimos selecionar **todos os 11.716 registros** onde a idade é maior que 50!

**Nota pedagógica:** Este exemplo usa um loop manual para fins **didáticos** - para você entender como `.iloc` funciona. O Pandas oferece métodos mais eficientes para filtragem condicional (como `serie[serie > 50]`), que veremos em aulas futuras. Mas entender `.iloc` profundamente é fundamental para casos onde você precisa trabalhar com posições específicas ou criar seleções personalizadas.

---

**Resumo - `.iloc`:**

| Uso | Sintaxe | Exemplo | Resultado |
|-----|---------|---------|-----------|
| Elemento único | `.iloc[pos]` | `.iloc[0]` | Primeiro elemento |
| Fatiamento | `.iloc[início:fim]` | `.iloc[0:3]` | Posições 0, 1, 2 |
| Posições específicas | `.iloc[[lista]]` | `.iloc[[0,2,4]]` | Posições 0, 2, 4 |
| Índice negativo | `.iloc[-1]` | `.iloc[-1]` | Último elemento |

**Quando usar `.iloc`:**
- ✅ Você sabe a posição exata do elemento
- ✅ Precisa dos primeiros/últimos N elementos
- ✅ Quer fatiar por posições numéricas
- ✅ Índices da Series são confusos ou sem significado

---

### Método 2: Acesso por Rótulo com `.loc`

Até agora usamos `.iloc` para acessar elementos por **posição numérica** (0, 1, 2, 3...). Mas e quando nossa Series tem índices **personalizados** e **significativos**?

#### Por que índices personalizados são importantes?

Imagine organizar dados de vendas por **data**, de pacientes por **CPF**, ou de produtos por **código**. Nesses casos, o índice tem **significado próprio** - não é apenas 0, 1, 2, 3.

#### Enter `.loc` - Acesso por Rótulo

O **`.loc`** acessa elementos pelos **rótulos/nomes do índice**, não pela posição!

**Diferença fundamental:**
```python
.iloc[0]          # "Me dê o PRIMEIRO elemento" (posição)
.loc['João']      # "Me dê o elemento rotulado 'João'" (pode estar em qualquer posição!)
```

**Por que isso é poderoso?**
- ✅ Código mais **legível** e **intuitivo**
- ✅ Não precisa saber a posição exata
- ✅ Mais **semântico** - "quero dados de 'João'", não "quero o elemento 42"
- ✅ Funciona naturalmente com datas, nomes, códigos

#### Criando um exemplo realista

Vamos criar uma Series de idades indexada por **nomes de pessoas** usando dados fictícios realistas.

---

#### Preparando os Dados com Faker

Para gerar nomes realistas, usaremos a biblioteca **Faker** - uma ferramenta que gera dados fictícios (nomes, endereços, emails, etc.).

**Instalando Faker:**

In [39]:
%pip install Faker

Requirement already satisfied: Faker in /home/gustavo/Github/Data Analysis - DEVinHouse/.venv/lib/python3.14/site-packages (37.12.0)
Requirement already satisfied: tzdata in /home/gustavo/Github/Data Analysis - DEVinHouse/.venv/lib/python3.14/site-packages (from Faker) (2025.2)
Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.

**Importando e inicializando:**

In [40]:
from faker import Faker

fake = Faker()

**Testando:** Vamos gerar um nome aleatório para ver como funciona:

In [41]:
fake.name()

'Barbara Ross'

Perfeito! Agora vamos gerar **32.561 nomes** (mesmo tamanho da nossa `serie_idade`) para criar índices realistas:

In [42]:
indices_nome = []
for _ in range(32561):
    indices_nome.append(fake.name())

Verificando o que criamos:

In [43]:
type(indices_nome), len(indices_nome)

(list, 32561)

Visualizando alguns nomes gerados:

In [44]:
indices_nome[0:10]

['Nicholas Walton',
 'Antonio Ellis',
 'Victoria Gonzalez',
 'Timothy Griffin',
 'Haley Scott',
 'Benjamin Hernandez',
 'James Lee',
 'Johnny Galvan',
 'Sharon Anderson',
 'Julia Warren']

---

#### Criando Series com Índices Personalizados

Agora o passo crucial: vamos criar uma nova Series usando:
- **Dados:** as idades do dataset (valores)
- **Índice:** os nomes fictícios que geramos (rótulos)

Isso nos dará uma Series onde podemos buscar "qual a idade de Jacob Gross?", por exemplo:

In [45]:
serie_idade_nome = pd.Series(np.array(dataset['age']), index=indices_nome)
serie_idade_nome

Nicholas Walton       39
Antonio Ellis         50
Victoria Gonzalez     38
Timothy Griffin       53
Haley Scott           28
                      ..
Victoria Knox         27
Jared Flores          40
Joseph Aguirre        58
Jessica Villanueva    22
Chad Johnson          52
Length: 32561, dtype: int64

Excelente! Agora temos uma Series onde:
- **Índice:** Nomes de pessoas (rótulos significativos)
- **Valores:** Idades correspondentes
- **Vantagem:** Podemos buscar por nome, não por posição!

---

#### Trabalhando com `.loc` - Exemplos Práticos

##### Caso 1: Acesso por rótulo único

A forma mais simples: acessar um elemento usando seu nome/rótulo diretamente.

**Sintaxe:** `serie['rótulo']` ou `serie.loc['rótulo']`

Vamos buscar a idade de uma pessoa específica:

In [46]:
serie_idade_nome['Nicholas Walton']

np.int64(39)

**Resultado:** Jacob Gross tem X anos. Simples e intuitivo!

Outro exemplo:

In [48]:
serie_idade_nome['Haley Scott']

np.int64(28)

##### Caso 2: Fatiamento com `.loc`

Podemos fazer fatiamento usando rótulos, mas há uma **diferença crítica** com `.iloc`:

**⚠️ IMPORTANTE - Diferença no Fatiamento:**
- `.iloc[0:3]` → Posições 0, 1, 2 (fim **exclusivo**)
- `.loc['A':'C']` → 'A', 'B', 'C' (fim **inclusivo**!)

Com `.loc`, ambas as extremidades são incluídas no resultado.

**Exemplo:** Selecionar de 'JNicholas Walton' até 'Halye Scott':

In [50]:
serie_idade_nome['Nicholas Walton': 'Haley Scott']

Nicholas Walton      39
Antonio Ellis        50
Victoria Gonzalez    38
Timothy Griffin      53
Haley Scott          28
dtype: int64

**Resultado:** Todas as pessoas de 'Jacob Gross' até 'Victoria Turner', **incluindo ambos**!

##### Caso 3: Seleção de múltiplos rótulos específicos

Para selecionar elementos específicos (não consecutivos), passe uma **lista de rótulos** usando `.loc`:

**Sintaxe:** `.loc[[lista_de_rótulos]]`

**Quando usar:** Comparar dados de pessoas/itens específicos:

In [53]:
serie_idade_nome.loc[['Nicholas Walton', 'Haley Scott']]

Nicholas Walton    39
Haley Scott        28
dtype: int64

**Resultado:** Apenas essas duas pessoas específicas.

---

#### Resetando Índices com `.reset_index()`

Às vezes precisamos **voltar para índices numéricos padrão** (0, 1, 2, 3...). O método `.reset_index()` faz exatamente isso.

**Casos de uso:**
- Depois de ordenar/filtrar e querer índices sequenciais
- Ao combinar Series de diferentes fontes
- Para simplificar acessos futuros

**Comportamento importante:** Por padrão, `.reset_index()` **não modifica** a Series original - retorna uma nova!

Vamos demonstrar criando uma cópia:

In [54]:
serie_idade_nome_copia = serie_idade_nome.copy()
serie_idade_nome_copia

Nicholas Walton       39
Antonio Ellis         50
Victoria Gonzalez     38
Timothy Griffin       53
Haley Scott           28
                      ..
Victoria Knox         27
Jared Flores          40
Joseph Aguirre        58
Jessica Villanueva    22
Chad Johnson          52
Length: 32561, dtype: int64

**Opção 1:** Retorna uma nova Series com índices resetados (original não muda):

In [55]:
serie_idade_nome_copia.reset_index(drop=True)

0        39
1        50
2        38
3        53
4        28
         ..
32556    27
32557    40
32558    58
32559    22
32560    52
Length: 32561, dtype: int64

Veja que retornou uma nova Series com índices 0, 1, 2... Mas a original não mudou:

In [56]:
serie_idade_nome_copia

Nicholas Walton       39
Antonio Ellis         50
Victoria Gonzalez     38
Timothy Griffin       53
Haley Scott           28
                      ..
Victoria Knox         27
Jared Flores          40
Joseph Aguirre        58
Jessica Villanueva    22
Chad Johnson          52
Length: 32561, dtype: int64

**Opção 2:** Para modificar **in-place** (diretamente na Series), use `inplace=True`:

**Atenção:** `inplace=True` é uma operação destrutiva - não há como desfazer!

In [57]:
serie_idade_nome_copia.reset_index(drop=True, inplace=True)

Agora a modificação foi aplicada diretamente na Series:

In [58]:
serie_idade_nome_copia

0        39
1        50
2        38
3        53
4        28
         ..
32556    27
32557    40
32558    58
32559    22
32560    52
Length: 32561, dtype: int64

**Comparando os índices para visualizar a diferença:**

Série com `.reset_index()` aplicado:

In [59]:
serie_idade_nome_copia.index

RangeIndex(start=0, stop=32561, step=1)

Série original (sem `.reset_index()`):

In [60]:
serie_idade_nome.index

Index(['Nicholas Walton', 'Antonio Ellis', 'Victoria Gonzalez',
       'Timothy Griffin', 'Haley Scott', 'Benjamin Hernandez', 'James Lee',
       'Johnny Galvan', 'Sharon Anderson', 'Julia Warren',
       ...
       'Laura Wiley', 'Laura Fuller', 'Christopher Anderson', 'Crystal Brown',
       'Emily Orozco', 'Victoria Knox', 'Jared Flores', 'Joseph Aguirre',
       'Jessica Villanueva', 'Chad Johnson'],
      dtype='object', length=32561)

---

**Resumo Completo - `.loc` vs `.iloc`:**

| Característica | `.iloc` | `.loc` |
|----------------|---------|--------|
| **Tipo de acesso** | Por **posição** numérica | Por **rótulo** do índice |
| **Índice usado** | Sempre 0, 1, 2, 3... | Usa o índice real da Series |
| **Fatiamento** | Exclusivo no final: `[0:3]` → 0,1,2 | **Inclusivo em ambos:** `['A':'C']` → A,B,C |
| **Quando usar** | Posição importa | Rótulo tem significado |
| **Exemplo** | `serie.iloc[0]` primeiro elemento | `serie.loc['João']` elemento chamado João |
| **Com lista** | `.iloc[[0, 2, 4]]` posições | `.loc[['Ana', 'João']]` rótulos |

**Guia de decisão rápido:**

```
Precisa acessar dados?
│
├─ Você sabe a POSIÇÃO? (ex: "quero os 10 primeiros")
│  └─ Use .iloc
│
└─ Você sabe o RÓTULO/NOME? (ex: "quero dados de 'João'")
   └─ Use .loc
```

**Dicas importantes:**
- ✅ `.loc` torna o código mais **legível** quando índices têm significado
- ✅ `.iloc` é mais **universal** - funciona independente do índice
- ⚠️ **Cuidado:** Fatiamento com `.loc` **inclui** o fim, `.iloc` **exclui**!
- 💡 Pode misturar: `.sort_values().iloc[0:10]` ordena e pega os 10 primeiros

**Próxima seção:** Vamos aprender a ordenar Series para análises mais poderosas!

---

### Ordenação

A ordenação é uma operação fundamental na análise de dados. O Pandas oferece dois métodos principais para ordenar Series:

**1. `.sort_values()`** - Ordena pelos **valores** da Series
- Use quando quer organizar os dados do menor para o maior (ou vice-versa)
- Exemplo: ordenar idades, salários, notas

**2. `.sort_index()`** - Ordena pelos **rótulos do índice**
- Use quando quer organizar pelos rótulos (nomes, datas, códigos)
- Exemplo: ordenar alfabeticamente por nome

Ambos os métodos aceitam o parâmetro `ascending`:
- `ascending=True` (padrão): ordem crescente
- `ascending=False`: ordem decrescente

Vamos explorar cada um com exemplos práticos usando nossa `serie_idade_nome`.

---

#### Ordenando por Valores com `.sort_values()`

##### 1. Ordem crescente (padrão)

Ordenando as idades da menor para a maior:

In [61]:
serie_idade_nome.sort_values()

David Cooper       17
Shawn Peterson     17
Michael Carlson    17
Kurt Garcia        17
Shawn Hall         17
                   ..
Carolyn Bryant     90
Erika Li           90
Jennifer Ortiz     90
Terry Lopez        90
Alicia Webb        90
Length: 32561, dtype: int64

##### 2. Ordem decrescente

Ordenando do maior para o menor usando `ascending=False`:

In [62]:
serie_idade_nome.sort_values(ascending=False)

Michelle Lara           90
Ronald Jackson          90
Brandon Williams        90
Chad Adkins             90
Kevin Paul              90
                        ..
Allison Peterson        17
Leah Rodriguez          17
Sara Whitney            17
Christopher Thompson    17
Ryan Luna               17
Length: 32561, dtype: int64

---

#### Ordenando por Índice com `.sort_index()`

Às vezes queremos ordenar pelos **rótulos do índice** (nomes das pessoas, neste caso), não pelos valores.

##### 1. Ordem alfabética decrescente (Z → A):

In [63]:
serie_idade_nome.sort_index(ascending=False)

Zoe Norris         38
Zoe Nguyen         42
Zoe Moore          66
Zoe Lee            18
Zoe Hunt           53
                   ..
Aaron Black        43
Aaron Beasley      35
Aaron Banks        63
Aaron Armstrong    18
Aaron Allen        18
Length: 32561, dtype: int64

##### 2. Ordem alfabética crescente (A → Z):

In [64]:
serie_idade_nome.sort_index(ascending=True)

Aaron Allen        18
Aaron Armstrong    18
Aaron Banks        63
Aaron Beasley      35
Aaron Black        43
                   ..
Zoe Hunt           53
Zoe Lee            18
Zoe Moore          66
Zoe Nguyen         42
Zoe Norris         38
Length: 32561, dtype: int64

---

#### Encadeando Operações

Uma técnica poderosa no Pandas é **encadear métodos** (method chaining). Podemos combinar ordenação com outras operações em uma única linha.

**Exemplo prático:** Vamos encontrar as 11 pessoas mais velhas do dataset:

1. Ordenar por valores em ordem decrescente (`.sort_values(ascending=False)`)
2. Selecionar as 11 primeiras posições (`.iloc[0:11]`)

In [65]:
sr = serie_idade_nome.sort_values(ascending=False).iloc[0:11]
sr

Michelle Lara         90
Ronald Jackson        90
Brandon Williams      90
Chad Adkins           90
Kevin Paul            90
Joseph Hamilton       90
George Young          90
Elizabeth Wilson      90
Elizabeth Sullivan    90
Carolyn Bryant        90
David Gray            90
dtype: int64

Excelente! Conseguimos identificar as 11 pessoas mais velhas em uma única linha de código.

**Observações importantes:**

1. **Métodos não modificam a Series original:** Por padrão, `.sort_values()` e `.sort_index()` retornam uma **nova** Series ordenada
2. **Para modificar in-place:** Use o parâmetro `inplace=True` (ex: `serie.sort_values(inplace=True)`)
3. **Encadeamento é eficiente:** Podemos combinar múltiplas operações de forma clara e legível

---

**Resumo - Ordenação:**

| Método | O que ordena | Parâmetro | Resultado |
|--------|--------------|-----------|-----------|
| `.sort_values()` | Pelos valores | `ascending=True` | Menor → Maior |
| `.sort_values()` | Pelos valores | `ascending=False` | Maior → Menor |
| `.sort_index()` | Pelos rótulos do índice | `ascending=True` | A → Z (ou 0 → 9) |
| `.sort_index()` | Pelos rótulos do índice | `ascending=False` | Z → A (ou 9 → 0) |